.lightDiv {
  border: solid black 5px;
  border-bottom: transparent;
  height: 20px;
  background-color: white;
}

.category-panels {
  box-sizing: border-box;

  // background-image: linear-gradient(
  //   to bottom,
  //   rgba(255, 255, 255, 0.5),
  //   rgba(255, 255, 255, 0.1)
  // );
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: solid rgb(55, 156, 122) 5px;
  border-top: transparent;

  width: 100%;
  height: calc(100vh - 125px);
  position: relative;
}

.category-panels > div > a {
  background-color: white;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

.category-panels > div {
  display: flex;
  align-items: center;
}

.heater {
  position: absolute;
  left: 0%;
  top: calc(100vh - 200px - 640px);
  background-image: url("../images/HeaterImg.png");
  background-size: cover;
  height: 540px;
  width: 150px;
  z-index: 2;
}

.circleSvg {
  margin: 0 auto;
  display: block;
  color: white;
  font-size: 32px;
}

.glowingCircle {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.circleSvg > a > text {
  display: none;
  text-anchor: middle;
  dominant-baseline: middle;
}

.circleSvg > a:hover > text {
  display: block;
  fill: black;
  font-size: 22px;
}

.circleSvg > a:hover > .backgroundCircle {
  display: block;
  fill: white;
}

.glowingCircle:hover {
  width: 100px;
  animation-name: none;
  r: 40px;
}

@keyframes pulse {
  0% {
    fill: transparent;
  }
  50% {
    fill: white;
  }
  100% {
    fill: transparent;
  }
}

.explain {
  position: absolute;
  right: 2%;
  top: 0%;
  background-size: cover;
  z-index: 0;
}

.explain > svg {
  margin-right: 10px;
  width: 25px;
}

.fish {
  position: absolute;
  right: 45%;
  top: 10%;
  height: 200px;
  width: 300px;
  background-image: url("../images/FishImgHome.png");
  background-size: cover;
  z-index: 2;
}

.tank {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 2;
}

.plants > .circleSvg {
  margin: none;
  margin-right: 10%;
}

.backgroundCircle {
  display: none;
}

.plants {
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 510px;
  width: 100%;
  background-image: url(../images/PlantsWoodandSubstrate.png);
  background-size: cover;
  background-position: right;
  z-index: 0;
}

.category-header {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 48px;
}
