.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  grid-gap: 50px;
  margin: 50px auto;
}

.item-title {
  text-align: center;
}

.price-cat {
  display: flex;
  justify-content: space-around;
}

.product-img {
  width: 100%;
}

.item-description {
  text-align: center;
}

.cart-btn {
  margin-top: 40px;

  width: 100px;
  height: 40px;
  font-weight: bold;
  border: solid black 2px;

  background-color: white;
  position: relative;
  display: block;
  margin: 40px auto 0px auto;
}

.cart-text {
  position: absolute;
  display: none;
  right: 34%;
  top: 3%;
  font-size: 32px;
}

.cart-btn:hover {
  color: green;
  border-color: green;

  background-color: green;

  .cart-text {
    color: black;
    display: block;
  }
}
