.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  background-image: url("../images/BackgroundImage1.webp");
  background-repeat: no-repeat;
  background-color: #025b59;
}

html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: rgb(228, 224, 224);
}
