.top-nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.nav-bar {
  display: grid;
  grid-template-columns: 300px 3fr 1fr;
}

.links {
  display: flex;
  justify-content: space-around;
}

.link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 100px;
  height: 25px;
}

.normal-svg {
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  top: 0.125em;
  position: relative;
}

.link:hover {
  font-weight: 600;
}

.contactMethods {
  display: flex;
  flex-direction: column;
  margin-top: 35.5px;
  justify-content: space-around;
  height: 92px;
}

.cat-drop-down {
  height: 40px;
  border-radius: 20px;
  width: 200px;
  outline: none;
}

.searchBar {
  margin-left: 20px;
  border-radius: 20px;
  height: 32px;
  outline: none;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
}
